<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Projects</title>
</head>
<body>
<!--/*@thymesVar id="projects" type="java.util.List"*/-->
<!--/*@thymesVar id="project" type="io.auroraslutions.employManagementSystem.domain.Project"*/-->

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th></th>
    </tr>
    </thead>
    <tr th:remove="all">
        <td>Pliro</td>
    </tr>
    <tr th:remove="all">
        <td>JBilling</td>
    </tr>
    <tr th:each="project : ${projects}">
        <td th:text="${project.title}">QBCheck</td>
        <td><a th:href="@{'/project/' + ${project.id} + '/show'}">View</a></td>
    </tr>
</table>
</body>
</html>