<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Positions</title>
</head>
<body>
<!--/*@thymesVar id="positions" type="java.util.List"*/-->
<!--/*@thymesVar id="position" type="io.auroraslutions.employManagementSystem.api.model.PositionDTO"*/-->

    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th></th>
        </tr>
        </thead>
        <tr th:remove="all">
            <td>CEO</td>
        </tr>
        <tr th:remove="all">
            <td>Manager</td>
        </tr>
        <tr th:each="position : ${positions}">
            <td th:text="${position.title}">Team Lead</td>
            <td><a th:href="@{'/position/' + ${position.id} + '/show'}">View</a></td>
        </tr>
    </table>
</body>
</html>