<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Employee</title>
</head>
<body>
<!--/*@thymesVar id="qualifications" type="java.util.List"*/-->
<!--/*@thymesVar id="employee" type="io.auroraslutions.employManagementSystem.api.model.EmployeeDTO"*/-->
<!--/*@thymesVar id="qualification" type="io.auroraslutions.employManagementSystem.api.model.QualificationDTO"*/-->
<!--/*@thymesVar id="project" type="io.auroraslutions.employManagementSystem.api.model.ProjectDTO"*/-->

    <div>
        <h3 th:text="(${employee.firstName}? (${employee.firstName + ' '}) : '') +
                            (${employee.middleName}? (${employee.middleName + ' '}) : '') +
                            (${employee.lastName}? ${employee.lastName} : '')">
            Taimoor Choudhary</h3>
    </div>

    <div>
        <div>
            <h5>Position: </h5>
        </div>
        <div>
            <p th:text="${employee.position.title}">Team Leader</p>
        </div>
        <div>
            <h5>Qualification: </h5>
        </div>
        <div>
            <ul>
                <li th:remove="all">Msc</li>
                <li th:each="qualification :${employee.qualifications}"
                th:text="${qualification.title}">Bsc</li>
            </ul>
        </div>
    </div>

    <div>
        <div>
            <h5>Managing Projects: </h5>
        </div>
        <div>
            <ul>
                <li th:remove="all">Pliro</li>
                <li th:remove="all">QbCheck</li>
                <li th:each="project : ${employee.managingProjects}"
                    th:text="${project.title}">JBilling</li>
            </ul>
        </div>
        <div>
            <h5>Allocated: </h5>
        </div>
        <div>
            <p th:text="${employee.project?.title}">jBilling</p>
        </div>
    </div>
</body>
</html>